<footer id="footer">
    <div class="outer">
        <div id="footer-info">
            <div class="footer-left">
                &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
            </div>
            <div class="footer-right">
                备案号： <a href="https://beian.miit.gov.cn/" target="_blank">鲁ICP备2021040536号-1</a>
            </div>

        </div>
    </div>
    <!--页面点击小红心-->
    <script type="text/javascript" src="/point_love.js"></script>
<!--    &lt;!&ndash;展示访问量&ndash;&gt;-->
<!--    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>-->
<!--    <span id="busuanzi_container_site_pv">-->
<!--                本站总访问量<span id="busuanzi_value_site_pv"></span>次-->
<!--            </span>-->
<!--    <span id="busuanzi_container_site_uv">-->
<!--                  本站访客数<span id="busuanzi_value_site_uv"></span>人次-->
<!--    </span>-->
    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
    <span id="busuanzi_container_site_pv">本站总访问量<span id="busuanzi_value_site_pv"></span>次</span>
<!--    <span class="post-meta-divider">|</span>-->
<!--    <span id="busuanzi_container_site_uv">本站访客数<span id="busuanzi_value_site_uv"</span>人</span>-->
<!--参考资料：https://blog.51cto.com/ikeguang/3241410-->
</footer>

