#footer-wrap
  if theme.footer.custom_text
    .footer_custom_text!=`${theme.footer.custom_text}`
  .icp-beian
    a(href='https://beian.miit.gov.cn/' target='_blank' rel='noopener noreferrer')
      i.fas.fa-shield-alt
      |  鲁ICP备2021040536号-1
